<!DOCTYPE html>
<html>
<head>
    <title>Cadastro{{title}}</title>
    <!-- Inclua o CSS do Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        {{{body}}}
    </div>
    <!-- Inclua o JavaScript do Bootstrap -->
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
