<div class="container d-flex justify-content-center align-items-center flex-column">
    <div class="text-center mt-4">
        <h1>Pessoas Cadastradas</h1>
    </div>

    <div class="d-flex justify-content-center mb-3">
        <button type="button" class="btn btn-primary me-2" onclick="window.location.href='/pessoas/novo'">Cadastrar
            pessoa</button>
        <button type="button" class="btn btn-secondary" onclick="window.location.href='/carros'">Listar
            carros</button>
    </div>
</div>

{{#if pessoas}}
<div class="card" style="width: 100%; overflow-x: auto;">
    <table class="table">
        <thead>
            <tr class="text-center">
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Carros</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            {{#each pessoas}}
            <!-- Corpo Tabela de pessoas -->
            {{> corpoTabelaPessoas}}
            <!-- Modal -->
            {{> pessoasModal}}
            {{/each}}
        </tbody>
    </table>
</div>
{{/if}}
