<div class="text-center mt-4">
    <h1>Cadastrar novo Carro</h1>
</div>

<div class="d-flex justify-content-center">
    <form action="/carros/novo" method="post">
        <div class="mb-3">
            <label for="modelo" class="form-label">Modelo</label>
            <input type="text" class="form-control" id="modelo" name="modelo">
        </div>
        <div class="mb-3">
            <label for="marca" class="form-label">Marca</label>
            <input type="text" class="form-control" id="marca" name="marca">
        </div>
        <div class="mb-3">
            <label for="ano" class="form-label">Ano</label>
            <input type="text" class="form-control" id="ano" name="ano">
        </div>
        <div class="mb-3">
            <label for="preco" class="form-label">Preço</label>
            <input type="text" class="form-control" id="preco" name="preco">
        </div>
        <div class="d-flex">
            <button type="submit" class="btn btn-primary me-2">Cadastrar</button>
            <a href="/pessoas" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
</div>