<div class="text-center mt-4">
    <h1>Cadastrar nova Pessoa</h1>
</div>

<div class="d-flex justify-content-center">
    <form action="/pessoas/novo" method="post">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome">
        </div>
        <div class="mb-3">
            <label for="idade" class="form-label">Idade</label>
            <input type="number" class="form-control" id="idade" name="idade">
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>